[build]
dockerfilePath = "services/chatbot_orchestration/Dockerfile"
rootDirectory = "."

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100

